| {% extends 'opendata_main/base.pug' %}

| {% load static %}
| {% load pipeline %}

| {% block content %}
.container.py-3
  .row
    .col-md-8.offset-md-2.mb-4
      .box
        h2 What is open data?

        p.
          Blender Open Data is a platform to collect, display and query the results of hardware
          and software performance tests - provided by the Blender community. Using this benchmark
          we aim to compare performance variation in software and hardware to support the Blender
          development process.

        p.
          As initial guideline for our definition of Blender Open Data, we were inspired by
          the #[a(href="https://opengovdata.org/" target="_blank") Eight Principles of Open Data].

        p	We believe that Blender Open Data should be:

        ul.pl-4
          li #[strong Complete] - All public data is made available. Public data is data that is not subject to valid privacy, security or privilege limitations.
          li #[strong Primary] - Data is as collected at the source, with the highest possible level of granularity, not in aggregate or modified forms.
          li #[strong Timely] - Data is made available as quickly as necessary to preserve the value of the data.
          li #[strong Accessible] - Data is available to the widest range of users for the widest range of purposes.
          li #[strong Machine processable] - Data is reasonably structured to allow automated processing.
          li #[strong Non-discriminatory] - Data is available to anyone, with no requirement of registration.
          li #[strong Non-proprietary] - Data is available in a format over which no entity has exclusive control.
          li #[strong License-free] - Data is not subject to any copyright, patent, trademark or trade secret regulation. Reasonable privacy, security and privilege restrictions may be allowed.
          li #[strong Online and Free] - Information is not meaningfully public if it is not available on the Internet at no charge, or at least no more than the marginal cost of reproduction. It should also be findable.
          li #[strong Permanent] - Data should be made available at a stable Internet location indefinitely and in a stable data format for as long as possible.

        p We take a privacy-conscious approach when handling Benchmark data.

  .row
    .col-md-8.offset-md-2.mb-4
      .box
        h2 How does it work?

        .py-2
          h3 Benchmark
          p.
            You can download the Open Data Benchmark from the #[a(href="https://opendata.blender.org") opendata.blender.org]
            homepage with versions for Windows, Linux and macOS. You can then select any number of the 7 benchmarks
            (details listed below) to run on your choice of Blender version and render device (CPU / GPU).
            The benchmark will also gather non-identifiable data on your system setup, details of which can be found below.
            Once the benchmark is complete you can share your results on Blender Open Data publicly.

        .py-2
          h3 Anonymous Data
          p.
            All data is kept anonymous by default. No personally identifiable information is
            collected or displayed. You can however enable a display name to be shown with your
            results in the Open Data settings.

        .py-2
          h3 Run Offline

          p.
            You can also run the benchmark in a completely offline environment. In order to do so,
            download and extract the #[a(href="https://opendata.blender.org/cdn/BlenderBenchmark2.0/script/blender-benchmark-script-3.1.1.tar.gz") benchmark script],
            download and extract #[a(href="https://opendata.blender.org/cdn/BlenderBenchmark2.0/") the scene you are interested in], enter the script directory and run the following command:

          pre.
            path-to-blender-executable --background \
              --factory-startup \
              -noaudio \
              --debug-cycles \
              --enable-autoexec \
              --engine \
              CYCLES \
              scene-path.blend \
              --python \
              main.py \
              -- \
              --device-type CPU
          p.
            This will output the benchmark result as the launcher would.

        .py-2
          a(id="benchmark-score", href="#benchmark-score")
            h3 Benchmark Score
          p.
            The Blender benchmark Score is a measure of how quickly Cycles can render #[a(href="https://docs.blender.org/manual/en/latest/render/cycles/render_settings/sampling.html") path tracing samples] on one CPU or GPU device. The higher the number, the better.
            In particular it's the estimated number of samples per minute, summed for all benchmark scenes.

        .py-2
          a(id="uninstalling", href="#uninstalling")
            h3 Uninstalling Benchmark Launcher
          p First, remove the Blender Benchmark launcher from your system. Then, remove the benchmark scenes and Blender binaries downloaded by the launcher. Depending on the operating system, they are located at:

            ul
              li linux: ~/.cache/blender-benchmark-launcher
              li macOS: ~/Library/Caches/blender-benchmark-launcher
              li windows: C:\Users\<_username_>\AppData\Local\<_AppAuthor_>\<_AppName_>\Cache

  .row
    .col-md-8.offset-md-2.mb-4
      .box
        h2 What data do we collect?
        p.
          When running a benchmark, the software will collect some non-identifiable information about your
          system for analysis. For example, we collect the operating system (E.g. Windows, Linux or macOS)
          to compare how efficient Blender runs on each OS.
        p.
          You can expand the sample below which shows an example of all the data we collect,
          additionally you can find the raw data for your submissions in each benchmark's detail view.

        pre#json-renderer

  .row
    .col-md-8.offset-md-2.mb-4
      .box
        h3 Accessing the data
        p.
          The opendata.blender.org website is designed to be an easy way to view, query and access the benchmark data.
          You can use the #[a(href="/benchmarks/query/") Search Data] page to query, sort and download the data
          (in JSON and CSV format). You can also view the #[a(href="/snapshots/opendata-latest.zip") daily snapshot]
          of the data in its raw JSON format.

  //- .row
  //- 	.col-md-8.offset-md-2.mb-4
  //- 		.card
  //- 			.card-body
  //- 				h3.card-title Found an issue? Get in touch!
  //- 				p.card-text Did you encounter an issue running the benchmark? Did you get an error message on the website? Drop us a line on #[a(href="https://developer.blender.org/project/profile/82/") developer.blender.org] and we will investigate! You can also share your feedback and ideas (keep the issues for the issue tracker on developer.blender.org) on #[a(href="devtalk.blender.org") devtalk.blender.org].


  .row
    .col-md-8.offset-md-2.mb-4
      .box
        h2 Contact
        p.
          If you would like to get in touch with a suggestion, write to #[a(href="mailto:francesco@blender.org") francesco@blender.org].
          Keep in mind that for technical support is always best to use the issue tracker on developer.blender.org.

  .row
    .col-md-8.offset-md-2
      .box
        h2.card-title.mb-0 Credits
        p.
          The project has been developed by the team at Blender: Brecht van Lommel, Dan MacGrath,
          Francesco Siddi, Pablo Vazquez, Sybren Stüvel, Sergey Sharybin, Sem Mulder and Mike Newbon.
          This project was commissioned by Ton Roosendaal, chairman Blender Foundation.

| {% endblock content %}

| {% block javascript-extra %}

| {% javascript 'about' %}

| {% endblock javascript-extra %}
