| {% extends 'opendata_main/base.pug' %}

| {% block content %}
.container.py-3
  .row
    .col-md-8.offset-md-2
      .box
        h2 Raw Data
        p
          | Here you can download the <a href="/snapshots/opendata-latest.zip">daily snapshot</a> of the entire <a href="/">opendata.blender.org</a> dataset.

        hr

        h3 License
        p.
          The data in this archive is licensed under the #[strong #[a(href="https://creativecommons.org/share-your-work/public-domain/cc0/", target="_blank") CC0 - Creative Commons Zero license]].
          For more details and legal text refer to #[em LICENSE.txt] included in the downloaded archive.
| {% endblock content %}
