| {% extends 'opendata_main/base.pug' %}
| {% load pipeline %}
| {% load static %}

| {% block header %}
.hero.is-container-overlap
  .container
    .hero-content
      h1 Benchmark

      | {% for key, value in total_number_of_benchmarks.items %}
      .hero-subtitle
        | Share and compare your #[a(href="about/#benchmark-score") #[u score]] with #[strong {{value}}]
        | openly accessible benchmarks contributed by the community.
      | {% endfor %}

      .hero-cta-container
        .btn-row
          a.btn.btn-accent.px-5(href='#')#benchmark_download
            span #[i.i-windows] Download Benchmark for Windows

        .btn-row.mt-2.position-relative
          .download-other.js-dropdown-toggle(data-toggle-menu-id="menu-platform")
            | Download CLI or other platforms #[i.i-chevron-down]

          //- Content populated by setupDropdownDownload() in home.js
          ul#menu-platform.download-other-list.js-dropdown-menu

  .hero-bg(style="background-image: url({% static 'opendata_main/images/junk-shop.jpg' %}); background-position-y: 50%;")
  .hero-overlay(style="background-image: linear-gradient(to left, transparent 40%, rgba(0,0,0,.86) 80%); background-color: transparent;")
  .hero-credits Alex Treviño
| {% endblock header %}

| {% block content %}
.container.py-4
  .row
    .col-md-6.mb-4
      .box
        h3 Top CPUs
        p Higher values are better.&nbsp;
          a(href="{{ url_top_cpus }}") Compare more CPU devices.
        canvas.chart.chart-top-devices#fastest-total-median-score-cpus-chart

    .col-md-6.mb-4
      .box
        h3 Top GPUs
        p Higher values are better.&nbsp;
          a(href="{{ url_top_gpus }}") Compare more GPU devices.
        canvas.chart.chart-top-devices#fastest-total-median-score-gpus-chart

  hr.mt-4.mb-5

  .row
    .col-md-12
      h2.px-3 Meta Analytics
      p.px-3 The following charts display information about the Open Data platform itself.

  .row
    .col-md-6.mb-4
      .box
        h3 Operating system distribution
        p The number of benchmarks per operating system.
        canvas.chart#operating-system-distribution-chart

    .col-md-6.mb-4
      .box
        h3 Compute type distribution
        p The number of benchmarks per compute type.
        canvas.chart#compute-type-distribution-chart

  .row
    .col-md-12.mb-4
      .box
        h3 Benchmarks over time
        p Number of submitted benchmarks per day.
        div
          canvas.chart#number-of-benchmarks-over-time-chart

| {% endblock content %}

| {% block javascript-extra %}

| {% javascript 'charts' %}
| {% javascript 'tables' %}
| {% javascript 'home' %}

| {{ compute_type_distribution|json_script:"compute-type-distribution-json" }}
| {{ operating_system_distribution|json_script:"operating-system-distribution-json" }}
| {{ total_median_score_per_device_type|json_script:"total-median-score-per-device-type-json" }}
| {{ fastest_total_median_score_cpus|json_script:"fastest-total-median-score-cpus-json" }}
| {{ fastest_total_median_score_gpus|json_script:"fastest-total-median-score-gpus-json" }}
| {{ median_score_per_scene|json_script:"median-score-per-scene-json" }}
| {{ number_of_benchmarks_over_time|json_script:"number-of-benchmarks-over-time-json" }}
| {{ latest_launchers|json_script:"latest-launcher-json" }}
| {% endblock javascript-extra %}
