| {% extends 'opendata_main/base.pug' %}

| {% block content %}
.container.py-3
  .row
    .col-md-8.offset-md-2
      .box
        h2 Updates
        p.
          Latest updates on the Blender Open Data platform. #[br] Learn more about ongoing development
          at #[a(href="https://developer.blender.org/project/view/82/") developer.blender.org].

        h4#news-2022-09-07.pt-3
          a(href="#news-2022-09-07") 2022-09-07 - Blender 3.3 Support
        p.
          Support for the latest Intel GPUs has been added using oneAPI.

        h4#news-2022-02-28.pt-3
          a(href="#news-2022-02-28") 2022-02-28 - Blender 3.X Support
        p.
          This release marks the beginning of a new development cycle for the Benchmark platform. Besides adding
          support for the Blender 3.X series, the main goal is to make the benchmark results easier to query
          and compare. This is a gradual process that will take place over the course of the upcoming updates.

        p Summary of the updates so far:
        ul
          li Updated Launcher
            ul
              li UI refresh
              li Removed scenes selection
              li Automatic OptiX/CUDA detection
          li Updated scenes
            ul
              li New default: Classroom, Junkshop, Monster
          li Replaced "Render Time" with #[a(href="/about/#benchmark-score") Score]
          li Constant time benchmark (it takes approximately 2 minutes to run the full benchmark)

        h4#news-2020-08-01.pt-3
          a(href="#news-2020-08-01") 2020-08-01 - Blender Benchmark 2020 Update
        ul
          li
            a(href="https://www.blender.org/press/blender-benchmark-2020-update/") Official announcement
          li New Launcher
          li Natural language query form
          li New benchmark detail view

        h4#news-2018-08-10.pt-3
          a(href="#news-2018-08-10") 2018-08-10 - Introducing Blender Benchmark
        ul
          li
            a(href="https://www.blender.org/news/introducing-blender-benchmark/") Official announcement
          li Public beta
| {% endblock content %}
