| {% extends 'opendata_main/base.pug' %}
| {% load pipeline %}

| {% block content %}
.container.py-3
  .box
    h1 Benchmarks

    hr

    p.
      Thank you for contributing data about your hardware specifications and score,
      this helps Blender development.

    | {% if benchmarks %}
    table.table-no-box
      thead
        tr
          th(scope="col") Device
          th(scope="col") Blender Version
          th(score="col") Score
          th(scope="col") Submitted

      tbody
        | {% for benchmark in benchmarks %}
        tr
          td
            a.d-block(href="{% url 'benchmarks/benchmark' pk=benchmark.raw_benchmark.id %}")
              | {{ benchmark.device_name|default:benchmark.raw_benchmark.id }}
          td {{ benchmark.blender_version }}
          td {{ benchmark.score|floatformat:2 }}
            | {% if not benchmark.raw_benchmark.indexed_benchmark %}
            i.i-alert-triangle(title="This score was obtained with a legacy benchmark")
            |{% endif %}
          td
            a.d-block(href="{% url 'benchmarks/benchmark' pk=benchmark.raw_benchmark.id %}")
              | {{ benchmark.submission_date }}
        | {% endfor %}
      | {% else %}
      p You don't have any benchmarks yet.
      #[a.btn.btn-primary(href="/") Download the Blender Benchmark]
      | {% endif %}


| {% endblock content %}

| {% block javascript-extra %}

| {% javascript 'tablemagic' %}

| {% endblock javascript-extra %}
