| {% extends 'opendata_main/base_account.pug' %}
| {% load pipeline %}

| {% block content_main %}

.box
  h1 Tokens

  hr

  h3 Active Tokens

  p In order to submit your Benchmark results, we provide you with a unique authentication token.
  p You can revoke a token to "unlink" your Benchmark install from opendata.blender.org

  | {% if tokens %}
  table.table-no-box
    thead
      tr
        th(scope="col") ID
        th(scope="col") Device
        th(scope="col").text-center Verified
        th(scope="col") Revoke

    tbody
      | {% for token in tokens %}
      tr(scope="row")
        td {{ token.id }}
        td {{ token.hostname }}
        td.text-center
          | {% if token.verified %}
          i.i-check.text-success(title="Verified")
          | {% else %}
          i.i-cancel.text-danger(title="Not verified")
          | {% endif %}
        td
          form(method="post", action="{% url 'benchmarks/tokens/revoke' pk=token.pk %}")
            | {% csrf_token %}
            input(type='submit' value="Revoke").btn.btn-sm.btn-secondary
      | {% endfor %}
  | {% else %}
  p You don't have any tokens yet.
  | {% endif %}


| {% endblock content_main %}


| {% block javascript-extra %}

| {% endblock javascript-extra %}
