| {% extends 'opendata_main/base_account.pug' %}
| {% load pipeline %}

| {% block content_main %}

//- TODO: check if card component markup is needed
.card-header.bg-transparent
  h2 Tokens

.card-body
  h4 Verify a new token
  p By ticking 'Verify' below and submitting the form, you are granting the Open Data Benchmark permission to upload new benchmarks to your account.
  | {% if token.verified is None %}
  form(method="post")
    | {% csrf_token %}
    div.form-group.form-check
      label.mb-0.me-1(for="verify" style="cursor:pointer;").d-inline Verify
      input(type="checkbox", id="verify", name="verify" checked=true, value="true" style="cursor:pointer;").d-inline
    input(type="submit").btn.btn-primary
  | {% elif token.verified is True %}
  p Token was verified. You can close this window and complete the data submission in the launcher.
  | {% else %}
  p Token was rejected.
  | {% endif %}


| {% endblock content_main %}
