| {% extends 'opendata_main/base.pug' %}
| {% load pipeline %}

| {% block head_opengraph %}

meta(property='og:site_name', content='Blender - Open Data')
meta(property='og:title', content='Blender - Open Data Benchmark')
meta(property='og:description', content=('Blender benchmark for ' + ((username + "'s ") if username else '') + benchmark.device_name))
meta(property='og:url', content='{{ request.build_absolute_uri }}')
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@blender_org')

| {% endblock head_opengraph %}

| {% block content %}

.container
  | {% if not is_indexed %}
  p.alert.alert-info.
    This is a #[a(href="/updates/#news-2022-02-28") legacy benchmark]. It can not be compared to the current benchmarks dataset.
  | {% endif %}

  .box.mb-4
    .row
      .col-md-5
        dl.mb-0
          dt Device
          dd
            a(href="/benchmarks/query/?device_name={{ benchmark.device_name }}&blender_version={{ benchmark.blender_version }}&group_by=device_name")
              | {{ benchmark.device_name }}

          dt Version
          dd
            a(href="/benchmarks/query/?blender_version={{ benchmark.blender_version }}&group_by=device_name")
              | Blender {{ benchmark.blender_version }}

          dt OS
          dd
            a(href="/benchmarks/query/?operating_system={{ benchmark.operating_system }}&blender_version={{ benchmark.blender_version }}&group_by=device_name")
              | {{ benchmark.operating_system }}

      .col-md-3
        dl.mb-0
          dt Device Type
          dd
            a(href="/benchmarks/query/?compute_type={{ benchmark.compute_type }}&blender_version={{ benchmark.blender_version }}&group_by=device_name")
              | {{ benchmark.device_type }}
              | {% if benchmark.compute_type != benchmark.device_type %}
              span ({{ benchmark.compute_type }})
              | {% endif %}

          dt User
          dd {{ benchmark.username|default:"Anonymous" }}

          dt Date
          dd(title="{{ benchmark.submission_date | date:'c' }}")
            | {{ benchmark.submission_date | date:'Y-m-d H:i e' }}

      .col-md-4.text-center
        a.text-decoration-none(href="/about/#benchmark-score")
          h2.mt-3
            | Benchmark Score
          h1.mb-0(style="font-size: 4.5rem;")
            | {{ benchmark.score|floatformat:2 }}

  | {% if is_indexed %}
  .box.mb-4
    canvas.cjs#benchmark-chart.mb-3

    p.lead.text-center This benchmark ranks in the top #[span#ranking &infin;] of all benchmarks.

    small.text-muted.
      This graph is a #[a(href="https://en.wikipedia.org/wiki/Quantile_function" target="_blank") quantile function]
      which means it's mapping ranking percentiles to the Score. The Score is calculated as the sum of the score
      of all scenes in the benchmark.

  | {% endif %}

  .row.flex
    .col-md-12
      .box
        h2 Raw Data
        p This is all the data that was submitted by the Benchmark software (schema {{ raw_benchmark.schema_version }}).
        pre#json-renderer.json-document.mb-0

| {% endblock content %}


| {% block javascript-extra %}

| {% javascript 'charts' %}

| {{ comparison_data|json_script:"comparison-data-json" }}
| {{ raw_benchmark.data|json_script:"raw-benchmark-data" }}

| {% javascript 'benchmark' %}

script.
  let rawBenchmarkData = JSON.parse(document.getElementById('raw-benchmark-data').textContent);
  $('#json-renderer').jsonViewer(rawBenchmarkData, {collapsed: true});

| {% endblock javascript-extra %}

