| {% extends 'opendata_main/base.pug' %}
| {% load pipeline %}

| {% block content %}
.container.py-3
  .row
    .col
      .box
        .naturalLanguageForm
          .naturalLanguageForm-block
            span Show

            .naturalLanguageInput#device_name(
              data-suggest-url="{% url 'benchmarks/query/suggest' %}",
              data-suggest-column="device_name",
              data-freetype="true"
            )
              div.nlf-query
                input(data-placeholder="all devices")
              div.nlf-dropdown
                ul

          .naturalLanguageForm-block
            span rendering with

            .naturalLanguageInput#compute_type(
              data-suggest-url="{% url 'benchmarks/query/suggest' %}",
              data-suggest-column="compute_type",
              data-freetype="false"
            )
              div.nlf-query
                input(data-placeholder="any compute type")
              div.nlf-dropdown
                ul

          .naturalLanguageForm-block
            span on

            .naturalLanguageInput#operating_system(
              data-suggest-url="{% url 'benchmarks/query/suggest' %}",
              data-suggest-column="operating_system",
              data-freetype="false"
            )
              div.nlf-query
                input(data-placeholder="any OS")
              div.nlf-dropdown
                ul

          .naturalLanguageForm-block
            span using Blender

            .naturalLanguageInput#blender_version(
              data-suggest-url="{% url 'benchmarks/query/suggest' %}",
              data-suggest-column="blender_version",
              data-freetype="true"
            )
              div.nlf-query
                input(data-placeholder="any Blender version")
              div.nlf-dropdown
                ul

          .naturalLanguageForm-block
            span grouped by

            .naturalLanguageInput#group_by(
              data-suggest-json="groupable-columns-json",
              data-freetype="false"
            )
              div.nlf-query
                input(data-placeholder="nothing")
              div.nlf-dropdown
                ul

        .row.mt-4
          .col-md-6
            .btn-row-fluid
              #applyFilter.btn.btn-primary
                i.i-search
                span Search
              #clearFilter.btn.btn-link.flex-0
                span Clear

      .pt-4
        .loader-container(id="loader")
          .loader
            span
            span
            span
            span
        table(id="result_table")

| {% endblock content %}

| {% block javascript-extra %}

| {% javascript 'naturalLanguageForm' %}

| {% javascript 'tables' %}

| {{ groupable_columns | json_script:"groupable-columns-json" }}

script.

  $(document).ready(function () {
    $.get("{{ results_datatables_url | safe }}", function (resultTable) {
      console.log(resultTable);
      let columns = resultTable.columns.map(function (column) {
        return {
          'title': column.display_name,
          'sortable': column.sortable,
          'searchable': column.filterable,
        }
      });
      // Find the index of the column containing the "Median Score" label,
      // and use it to set the default sorting
      const isScore = (element) => element.title === 'Median Score';
      const medianScoreColumnIndex = columns.findIndex(isScore);

      // Round the value of the Median Score up to 2 digits after comma
      for (let row of resultTable.rows) {
        row[medianScoreColumnIndex] = Math.round((row[medianScoreColumnIndex] + Number.EPSILON) * 100) / 100;
      }

      let table = $('#result_table');
      let tableElement = table[0];
      createTable(tableElement, resultTable.rows, columns, medianScoreColumnIndex);

      $('#loader').hide();
      table.show();
    });

  });
| {% endblock javascript-extra %}
