nav.navbar.navbar-secondary(role='navigation')
  .container
    ul.navbar-nav
      li.nav-item(class="{% if request.path == '/users/settings/'%}active{% endif %}")
        a.nav-link(href="/users/settings/") Settings

      li.nav-item(class="{% if request.path == '/users/tokens/'%}active{% endif %}")
        a.nav-link(href="/users/tokens/") Tokens
