nav.navbar.navbar-secondary(role='navigation')
  .container
    ul.navbar-nav
      li.nav-item.nav-parent(class="{% if request.path == '/'%}active{% endif %}")
        a.nav-link(href="/") Open Data

      li.nav-item.nav-separator
        i.i-chevron-right

      li.nav-item(class="{% if request.path == '/benchmarks/query/'%}active{% endif %}")
        a.nav-link(href="/benchmarks/query/") Search

      li.nav-item(class="{% if request.path == '/download/'%}active{% endif %}")
        a.nav-link(href="/download/") Download

      li.nav-item(class="{% if request.path == '/about/'%}active{% endif %}")
        a.nav-link(href="/about/") About

      li.nav-item(class="{% if request.path == '/updates/'%}active{% endif %}")
        a.nav-link(href="/updates/") Updates

      | {% if user.is_authenticated %}

      li.nav-item.dropdown(class="{% if '/users/' in request.path %}active{% endif %}")
        a#navbarDropdown.nav-link.dropdown-toggle(
          aria-expanded='false',
          aria-haspopup='true',
          data-toggle='dropdown',
          href='#',
          role='button')
          | Account

          i.i-chevron-down

        ul.dropdown-menu(aria-labelledby='navbarDropdown')
          | {% if user.is_superuser %}
          li
            a.dropdown-item.is-admin(href="{% url 'admin:index' %}").
              #[i.i-coffee] Whoosh!
          li.dropdown-divider
          | {% endif %}
          li
            a.dropdown-item(href="/users/benchmarks/").
              #[i.i-trending] Benchmarks
          li
            a.dropdown-item(href="/users/tokens/").
              #[i.i-user-check] Tokens
          li
            a.dropdown-item(href="/users/settings/").
              #[i.i-settings] Settings
          .dropdown-divider
          li
            a.dropdown-item(href="{% if is_impersonated_session %}{% url 'loginas-logout' %}{% else %}{% url 'oauth:logout' %}{% endif %}").
              #[i.i-log-out] Log out
      | {% else %}
      li.nav-item
        a.nav-link(href="{% url 'oauth:login' %}")
          | Log in
      | {% endif %}
